################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/oervmariatrost-kursbuch/.vs/oervmariatrost-kursbuch
/oervmariatrost-kursbuch/bin/Debug/net7.0
/oervmariatrost-kursbuch/obj
/oervmariatrost-kursbuch/appsettings.Development.json
/oervmariatrost-kursbuch/.vs/ProjectEvaluation
/.vs/huschu-kursbuch/v17
/oervmariatrost-kursbuch/bin/Release/net7.0
/oervmariatrost-kursbuch/Properties/PublishProfiles
/oervmariatrost-kursbuch/Properties/ServiceDependencies/oervmariatrost - Web Deploy
