@page "/accessDenied"

<div>
    <div class="main">
        <div class="content">

        <header>
            <h1 class="text-danger">Access Denied.</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
          
        <div class="index-content">
            <img style="width:100%" src="~/sad_dog.jpg" />
        </div>
        </div>
    </div>
</div>
