@page "/"

<PageTitle>Kursbuch - Hundeschule ÖRV Mariatrost</PageTitle>
<div class="index-content">
    <h1 class="margin-header">Herzlich Willkommen zum Kursbuch!</h1>

</div>

<div class="image-background">
    <div class="grey-overlay">
        <div class="index-content">
            <div class="row" style="width:100%">
                <div class="col">
                    <img alt="Aktueller Kursplan" class="home-picture" src="Kursplan.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-content">
    <div class="row justify-content-center m-3">
        <div class="col-md-12 ">
            <img class="ugly-helping-image-big" src="was uns ausmacht.png" />
            <img class="ugly-helping-image-small" src="was uns ausmacht_handy.png" />

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Nähere Infos zu uns, den Kursen und den Kurszeiten findest du auf: <a href="https://hundeschule-mariatrost.at">https://hundeschule-mariatrost.at</a></b>
        </div>
    </div>
</div>