@page "/"
@using oervmariatrost_kursbuch.Data;
@using oervmariatrost_kursbuch.Data.DTO;
@using oervmariatrost_kursbuch.Data.UserDataManagement;
@inject ICourseDataService CourseDataService;
@inject UserSessionDataService UserDataService;

<PageTitle>Kursbuch - Hundeschule ÖRV Mariatrost</PageTitle>
<div class="index-content">
    <h1 class="margin-header">Herzlich Willkommen zum Kursbuch!</h1>
</div>

<div class="image-background">
    <img alt="Aktueller Kursplan" class="home-picture" src="Kursplan.jpg" />
</div>

<div class="index-content">
    <div class="row justify-content-center m-3">
        <div class="col-md-12 ">
            <img class="ugly-helping-image-big" src="was uns ausmacht.png" />
            <img class="ugly-helping-image-small" src="was uns ausmacht_handy.png" />

        </div>
    </div>
    <b>Nähere Infos zu uns, den Kursen und den Kurszeiten findest du auf: <a href="https://hundeschule-mariatrost.at">https://hundeschule-mariatrost.at</a></b>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var claims = (await authenticationStateTask).User.Claims.ToList();
        var authenticatedEmail = claims.FirstOrDefault(x => x.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
        if(authenticatedEmail != string.Empty)
        {
            var test = CourseDataService.InitializeUserData(authenticatedEmail);

        }
        await InvokeAsync(() => StateHasChanged());
    }


}
