@using oervmariatrost_kursbuch.Data;
@inject ICourseDataService cdsDataClient;
<AuthorizeView>
    <Authorized>
        <div class="login-display-row">
            <div class="login-display-item hide-login-name">
                <div class="user-text"> Hallo, @context.User.Identity.Name!</div>
            </div>

            <div class="login-display-item">
                <form method="post" action="Account/LogOut">
                    <button type="submit" class="nav-item nav-link logout-button"><i class="fa-solid fa-arrow-right-from-bracket nav-icon"></i>Ausloggen</button>
                </form>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login" class="nav-item nav-link login-button"><i class="fa-solid fa-arrow-right-to-bracket nav-icon"></i>Einloggen</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    public string FullName = "";
    protected async override Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            var claims = (await authenticationStateTask).User.Claims.ToList();
            var authenticatedEmail = claims.FirstOrDefault(x => x.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
            FullName = cdsDataClient.GetFullNameForLoginMail(authenticatedEmail);
            await InvokeAsync(() => StateHasChanged());
        }
    }

}