<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-auto">
                Hello, @context.User.Identity.Name!

            </div>
            <div class="col-auto">
                <form method="post" action="Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Log out</button>
                </form>
            </div>
        </div>
       
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>