@inherits LayoutComponentBase

<div>
    <div class="main">
        <NavMenu />
        <div class="body-container unselectable">
            @Body
        </div>
    </div>

    <div class="footer">
           (C) ÖRV HSV Graz-Mariatrost, ÖZV | <a href="https://hundeschule-mariatrost.at/kontakt/"> Kontakt </a>|  <a href="https://hundeschule-mariatrost.at/Impressum/"> Impressum </a> |  <a href="https://hundeschule-mariatrost.at/datenschutz/"> Datenschutz </a>
    </div>
</div>
